<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game1.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="header block">
        <div class="balance_cont block">
          <img src="../png/coin2.png" alt="" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="slot_cont_cont block">
        <div class="slot_cont"></div>
      </div>

      <div class="spin btn block">Крутить</div>

      <div class="footer">
        <a href="teams.html" class="footer_link">
          <img src="../png/m1.png" alt="" />
        </a>

        <a href="main.html" class="footer_link">
          <img src="../png/m2.png" alt="" />
        </a>

        <a href="wins.html" class="footer_link">
          <img src="../png/m3.png" alt="" />
        </a>

        <a href="game1.html" class="footer_link">
          <img src="../png/ma4.png" alt="" />
        </a>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game1.js"></script>
  </body>
</html>
