<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="header block"></div>

      <div class="bets">
        <div class="bet">
          <img src="../png/bet1.png" alt="" />
          <div class="bet_block">
            <div class="bet_block_title">Сделать ставку:</div>

            <div class="balance_cont">
              <div class="balance_text">Баланс:</div>
              <img src="../png/coin1.png" alt="" />
              <div class="balance"></div>
            </div>

            <div class="bet_amount_cont">
              <div class="minus block">-</div>

              <div class="bet_amount_cont2">
                <img src="../png/coin1.png" alt="" />
                <div class="bet_amount">500</div>
              </div>

              <div class="plus block">+</div>
            </div>

            <div class="btn block spin">Подтвердить</div>
          </div>
        </div>

        <div class="bet">
          <img src="../png/bet2.png" alt="" />
          <div class="bet_block">
            <div class="bet_block_title">Сделать ставку:</div>

            <div class="balance_cont">
              <div class="balance_text">Баланс:</div>
              <img src="../png/coin1.png" alt="" />
              <div class="balance"></div>
            </div>

            <div class="bet_amount_cont">
              <div class="minus block">-</div>

              <div class="bet_amount_cont2">
                <img src="../png/coin1.png" alt="" />
                <div class="bet_amount">500</div>
              </div>

              <div class="plus block">+</div>
            </div>

            <div class="btn block spin">Подтвердить</div>
          </div>
        </div>

        <div class="bet">
          <img src="../png/bet3.png" alt="" />
          <div class="bet_block">
            <div class="bet_block_title">Сделать ставку:</div>

            <div class="balance_cont">
              <div class="balance_text">Баланс:</div>
              <img src="../png/coin1.png" alt="" />
              <div class="balance"></div>
            </div>

            <div class="bet_amount_cont">
              <div class="minus block">-</div>

              <div class="bet_amount_cont2">
                <img src="../png/coin1.png" alt="" />
                <div class="bet_amount">500</div>
              </div>

              <div class="plus block">+</div>
            </div>

            <div class="btn block spin">Подтвердить</div>
          </div>
        </div>
      </div>

      <div class="footer">
        <a href="teams.html" class="footer_link">
          <img src="../png/m1.png" alt="" />
        </a>

        <a href="main.html" class="footer_link">
          <img src="../png/ma2.png" alt="" />
        </a>

        <a href="wins.html" class="footer_link">
          <img src="../png/m3.png" alt="" />
        </a>

        <a href="game1.html" class="footer_link">
          <img src="../png/m4.png" alt="" />
        </a>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/main.js"></script>
  </body>
</html>
