<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <title>App</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"></div>

      <div class="teams">
        <img src="../png/t1.png" alt="" />
        <img src="../png/t2.png" alt="" />
        <img src="../png/t3.png" alt="" />
        <img src="../png/t4.png" alt="" />
      </div>

      <div class="footer">
        <a href="teams.html" class="footer_link">
          <img src="../png/ma1.png" alt="" />
        </a>

        <a href="main.html" class="footer_link">
          <img src="../png/m2.png" alt="" />
        </a>

        <a href="wins.html" class="footer_link">
          <img src="../png/m3.png" alt="" />
        </a>

        <a href="game1.html" class="footer_link">
          <img src="../png/m4.png" alt="" />
        </a>
      </div>
    </div>

    <style>
      .teams {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        margin: 20px auto 120px;
      }

      .teams img {
        width: 310px;
      }
    </style>
  </body>
</html>
