.wrapper {
  min-height: auto;
  height: auto;
  padding: 15px;
}

.title {
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  width: calc(100%);
  margin-top: 10px;
  margin-bottom: 90px;

  font-weight: 400;
  text-align: left;
}

.btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
